language: cpp
compiler: gcc
sudo: require
dist: trusty

install:
    - sudo apt-get -y install autoconf build-essential avahi-daemon avahi-utils libavahi-client-dev libgnutls28-dev libjpeg-dev libnss-mdns libpng-dev zlib1g-dev

script:
  - ./configure --prefix=/usr
  - make -j$(nproc)
  - make BUILDROOT=$(readlink -f appdir) install ; find appdir/
  - rm -rf appdir/usr/include/cups/ # Do not bundle developer stuff
  - sudo mv  ./appdir/usr/sbin/* ./appdir/usr/bin/ ; rm -rf ./appdir/usr/sbin/ # AppRun does not put usr/sbin/ on $PATH
  - mkdir -p ./appdir/usr/share/applications/ ; cp appimage/ippserver.desktop ./appdir/usr/share/applications/
  - mkdir -p ./appdir/usr/share/icons/hicolor/256x256/apps/ ; cp appimage/printer.png ./appdir/usr/share/icons/hicolor/256x256/apps/
  - wget -c "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
  - chmod a+x linuxdeployqt*.AppImage
  - ./linuxdeployqt*.AppImage ./appdir/usr/share/applications/*.desktop -bundle-non-qt-libs
  - ./linuxdeployqt*.AppImage ./appdir/usr/share/applications/*.desktop -appimage

after_success:
  - find ./appdir -executable -type f -exec ldd {} \; | grep " => /usr" | cut -d " " -f 2-3 | sort | uniq
  - curl --upload-file ./ippserver*.AppImage https://transfer.sh/ippserver-git.$(git rev-parse --short HEAD)-x86_64.AppImage
